<footer class="text-center">
    <div class="mb-6">
        <small>
            <br>
            <a target="_blank" style="text-decoration: none; text-align: center;"
                rel="noopener noreferrer" href="#">
                © 2020 Copyright: <span ><a href="https://www.facebook.com/profile.php?id=100018711459880">Oscar Serge</a></span> y <span><a href="https://www.facebook.com/search/top?q=diego%20asp">Diego Santiago</a></span>, Desarroladores Web
            </a>
        </small>
    </div>
</footer>
