<nav id="navcont" style="background-color: #007bff;" class=" navbar navbar-expand-sm">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">INICIO</a>
    <ul id="div03" class="navbar-nav  mt-2 mt-lg-0">
      <li class="btn-group dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <img src="assets/userl.png" alt="Logo" class="rounded-circle" alt="avatar image" height="45"
            style="background: white;">
        </a>
        <div style="top: 75px; right: -30px;" class="dropdown-menu primary-color">
          <a class="nav-link primary-color" style="color: white;" href="https://localhost:5001/login">
            Iniciar Sesion
          </a>
          <a class="nav-link primary-color" style="color: white;" href="#">Mi cuenta</a>
          <a class="nav-link primary-color" style="color: white;" (click)="removeLocal()"chref="#">Cerrar Sesion</a>
        </div>
      </li>
    </ul>


  </div>
</nav>